@model AdminData.Models.Admin.Admin_db

@{
    ViewData["Title"] = "ResetPassword";
}


<div class="signup-box" style="display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
       ">
    <!-- Adjusted styling -->
    <div class="logo">
        <a href="javascript:void(0);"></a>
    </div>
    <div class="card" style="width: 400px;">
        <div class="body">
            <form asp-action="ResetPassword" method="post">

                <div class="input-group">
                    @* <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span> *@

                    @* <input asp-for="Email" type="hidden" class="form-control" /> *@


                   
                        <input asp-for="ResetToken" value="@ViewBag.Token" type="hidden" class="form-control" />
                    
                    <div class="form-line">

                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                    </div>

                    <span style="color:red">@ViewBag.message</span>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Submit</button>


            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Add Bootstrap classes to input fields based on validation states
            $('input.input-validation-error').closest('.form-line').addClass('has-error');
            $('input.input-validation-valid').closest('.form-line').addClass('has-success');
            $('input.input-validation-warning').closest('.form-line').addClass('has-warning');
        });
    </script>
}









